* text=auto eol=crlf
*.cpp text working-tree-encoding=UTF-8
*.h   text working-tree-encoding=UTF-8
*.hpp text working-tree-encoding=UTF-8
*.c   text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8